<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Orders</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<br><a style="color: blue; font-weight: bold;margin-left:20px;" th:href="@{/admin/dashboard}">&#x27A6;Dashboard</a>
    <div class="container">
        <h1>Manage Orders</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Username</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Update Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.username}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.status}"></td>
                    <td>
                        <form th:action="@{'/admin/orders/updateStatus/' + ${order.id}}" th:object="${order}" method="post" class="form-inline">
                            <div class="form-group">
                                <select name="status" class="form-control" th:value="${order.status}">
                                    <option value="PENDING">Pending</option>
                                    <option value="PROCESSING">Processing</option>
                                    <option value="SHIPPED">Shipped</option>
                                    <option value="DELIVERED">Delivered</option>
                                    <option value="CANCELLED">Cancelled</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
